<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="comcesar1287.github.tagyou">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.SplashScreenActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.SignWithActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDODPf87mzDEZnnbkTHqlvjQY96LLpvPRs" />

        <meta-data
            android:name="com.google.android.nearby.messages.API_KEY"
            android:value="AIzaSyCJ7q2qr9WcbGX2nUpQhQXXNoy6aTifJZ8" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.TagsFilterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.CategoryRegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.EditPersonActivity"
            android:label="@string/edit_person"
            android:parentActivityName=".view.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.EditCompanyActivity"
            android:label="@string/edit_company"
            android:parentActivityName=".view.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.ChatActivity"
            android:parentActivityName=".view.UserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.UserActivity"
            android:label="Usuários"
            android:parentActivityName=".view.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.CompanyDetailsActivity"
            android:label="@string/descricao_empresarial"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.PersonsDetailsActivity"
            android:label="@string/descricao_pessoal"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.IndicationPersonActivity"
            android:label="@string/indication_person"
            android:parentActivityName=".view.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.SignUpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.ContactUsActivity"
            android:label="@string/contact_title"
            android:parentActivityName=".view.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.ForgotPasswordActivity"
            android:theme="@style/AppTheme.Dialog" />
        <activity
            android:name=".view.TagsSpecificActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".view.ConfigActivity"
            android:parentActivityName=".view.MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/config_label"            >
        </activity>

        <service
            android:name=".controller.util.BeaconMessageReceiver"
            android:exported="false" />
    </application>

</manifest>